@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* shared styles */
.display-flex{
    display: flex;
}
.section-title{
    font-size: 2.8rem;
    font-weight: bold;
}
.text-primary{
  color: rgba(255, 144, 14, 1);
}
main > section{
    margin-top: 130px;
}
/* dark-2 */
.text-gray{
    color: rgba(66, 66, 66, 1);
}

/* dark-3 */
.text-light-gray{
    color: rgba(114, 114, 114, 1);
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
  /* header styles */

  /* navbar related styles */
.brand{
    font-weight: bold;
    font-size: 3rem;
  }

.nav-item{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    max-height: 320px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    color: #ffff;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
}
.banner-image{
    width: 100%;
}
main{
    max-width: 1440px;
    margin: 0 auto;

}
/* team-related */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-futures{
    margin-left: 73px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* some fact related styles */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    /* padding: 50px 35px; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-description{
    max-width: 542px;
}
/* sponsor-info */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sonsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sonsor-companies img{
    filter: grayscale(100%);
}
/* media-query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .banner-content{
    margin-bottom: 150px;
    
    }
    .team-img-container, .facts-container, .sonsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-futures{
        margin-left: 20px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sonsor-companies{
        gap: 50px;
        justify-items: center;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .sonsor-companies, .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}